.forecast-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    gap: 25px;
    margin: 50px 50px 0 50px;
    padding-bottom: 50px;
    justify-content: center;
}