@use "./assets/sass/variables.scss" as *;
@use "./assets/sass/reset" as *;

html {
  min-height: 100vh;
}

.app {
  align-items: center;
  justify-content: center;
  color: $color-black;


  .loading-data{
    font-size: 3rem;
    margin-top: 5rem;
    text-align: center;
  }
}


